
@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h3>KULLANICI GİRİŞ</h3>
    <input class="form-control" type="text" placeholder="Kullanıcı Adı" id="userName" />
    <input class="form-control" type="password" placeholder="Şifre" id="password" />
    <div class="login-button">
        <button type="button" class="btn btn-primary" id="login">Giriş Yap</button>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {

    $("#login").click(function () {
        var username = $("#userName").val();
        var password = $("#password").val();

        $.ajax({
            type: "POST",
            data: { username: username, password: password },
            url: "/Account/Login",
            error: function (data) {
                alert("Kullanıcı adı ya da şifre hatalı !");
            }
        });
    });
});
</script>
}
