.login-container {
    border: 1px solid #ccc;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 25px 55px;
    border-radius: 5px;
}

.login-container > h3 {
    text-align: center;
}

.login-container > input {
    width: 100%;
    margin-top: 10px;
}

.login-button {
    text-align: right;
    margin-top: 10px;
}

/* EXAM CREATE */

.exam-create-article {
    margin-top: 10px;
}

.exam-create-article-content {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.question {
    margin-top: 20px;
}

.question-input{
    margin-bottom: 10px;
}

.correct-answer {
    width: 450px;
    margin-left: auto;
    margin: auto;
}

.exam-button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* EXAM INDEX */

.exam-index-header{
    text-align: center;
}

.exam-index-answer {
    border: 1px solid #2b2b2b;
    padding: 7px;
    margin-top: 7px;
}

.exam-index-question{
    margin-top: 30px;
}